@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Itim&family=Madimi+One&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');


:root {
    --fonte-1: Holtwood One SC;
    --fonte-2: Itim;
    --fonte-3: Madimi One;
    --fonte-4: Calistoga;

    --verde: #A8DDB7;
    --verde-escuro: #010C11;
}

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #003a30;
}

.inicio{
    width: 300px; 
    height: 100vh;
    overflow: hidden; 
    position: relative;
}

.inicio {
    background-image: url(fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: -1;
}

h1 {
    text-align: center;   
    padding-top: 640px;
    color: var(--verde);
    z-index: 1;
}

.dcac {
    font-family: var(--fonte-1);
    font-size: 40px;
}

.cp {
    font-family: var(--fonte-2);
    font-size: 30px;
    margin-top: -20px;
}

.introducao {
    color: var(--verde);
    font-family: var(--fonte-2);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.cc {
    font-family: var(--fonte-4);
    font-size: 20px;
    text-align: center;
    color: var(--verde);
    margin-top: 10%;
    font-weight: bold;
    overflow: hidden;
    animation-delay: 0;
    transition: 0.1s;
}

.campo-cidade  {
    background-color: #010C11;
    display: flex;
    height: 100vh;
    justify-content: center;
    gap: 100px 40px;
    flex-wrap: wrap;
    z-index: 2;
    transition: 1s;
}

.campo-cidade {
    background-image: url(fundo4.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;

}

.campo {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border: 2px solid var(--verde);
    border-radius: 30px;
    box-shadow: 0 5px 20px black;
    top: -100%;
    transition: 1s;
}

.cidade {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: transparent;
    border: 2px solid var(--verde);
    border-radius: 30px;
    box-shadow: 0 5px 20px black;
    backdrop-filter: blur(5px);
    top: -100%;
    transition: 1s;
}

.botao {
    text-decoration: none;
    font-family: var(--fonte-2);
    font-weight: bold;
    color: var(--verde);
    position: absolute;
    background-color: transparent;
    border: 2px solid var(--verde);
    border-radius: 50px;
    box-shadow: inset 0px 0px 8px 1px var(--verde);
    width: 50%;
    height: 12%;
    font-size: 20px;
    margin: 25%;
    top: 57%;
    cursor: pointer;
    transition: 1s;
}

.botao:hover {
    background-color: var(--verde);
    color: var(--verde-escuro);
    border: 2px solid var(--verde);
    box-shadow: inset 0px 0px 8px 1px var(--verde-escuro);
}

.campo:hover {
    font-size: 20px;
    height: 500px;
    width: 400px;
    border: 2px solid var(--verde-escuro);
    box-shadow: 0 5px 25px var(--verde);
}

.cidade:hover {
    font-size: 20px;
    height: 500px;
    width: 400px;
    border: 2px solid var(--verde-escuro);
    box-shadow: 0 5px 25px var(--verde);
}

.foto {
    position: absolute;
    width: 80%;
    height: 45%;
    margin: 10%;
    top:15%;
    border: outset var(--verde);
    border-radius: 15px;;
    transition: 1s;
}

.foto img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

#som {
    width: 100%;
    height: 30px;
    margin-top: 0;
    cursor: pointer;
    background-color: white;
    border-radius: 11px;

}

.assunto {
    background-color: var(--verde-escuro);
    font-family: var(--fonte-1);
    color: var(--verde);
    text-align: center;
    font-size: 17px;
    height: 100vh;
    z-index: 3;
}

h2 {
    margin-top: -1%;
}

.relatos{
    display: flex;
    height: 100vh;
    justify-content: center;
    gap: 100px 40px;
    flex-wrap: wrap;
    z-index: 4;
}

.relatos2 {
    display: flex;
    height: 100vh;
    justify-content: center;
    gap: 100px 10px;
    flex-wrap: wrap;
    margin-top: -5%;
    z-index: 5;
}

.relato {
    position:relative;
    width: 250px;
    height: 250px;
    margin-top: -42%;
    background-color: transparent;
    border: 2px solid var(--verde);
    border-radius: 90px 0 0 90px;
    padding: 10px;
    box-shadow: inset 0px 0px 7px 3px var(--verde);
    transition: 0.5s;
}

.relato:hover {
    background-color: var(--verde);
    color: var(--verde-escuro);
    border: 2px solid var(--verde-escuro);
}

#meio {
    border-radius: 0;
}

#penultimo {
    border-radius: 0 90px 90px 0;
}

#v {
    padding: 10px;
    font-family: var(--fonte-3);
}

#vt {
    font-family: var(--fonte-2);
    margin-top: -90%;
    text-align: center;
    padding: 10%;
}

.assunto {
    background-color: var(--verde-escuro);
    font-family: var(--fonte-1);
    color: var(--verde);
    text-align: center;
    font-size: 17px;
    height: 100vh;
    z-index: 3;
}

.fim {
    background-color: var(--verde-escuro);
}